<h1>Login</h1>

<%= form_tag login_path do %>

  <h3> 
  	 Email: <%= text_field_tag :email %>
  </h3>	 
  <h3>
    Password: <%= password_field_tag :password_digest %>
  </h3>

  <h3>
    <%= submit_tag "Submit" %>
  </h3>
  
<% end %>