<div class='center jumbotron'>

    <h1>
      <b>Welcome to our website</b>
    </h1>    
    <h3> 
      <%= link_to 'Signup', new_user_path, class: 'btn btn-primary btn-lg'  %>  <%= link_to 'Login', new_sessions_path, class: 'btn btn-primary btn-lg' %>
    </h3> 
</div> 