<div class='center jumbotron'>

  <marquee width="60%" direction="left" height="100px">
      <h1 style="color: white">
        <b>Welcome to our website</b>
      </h1>
  </marquee>    

  <h3> 
    <%= link_to 'Signup', new_user_registration_path, class: 'btn btn-primary btn-lg'  %>  <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %>
  </h3>
</div> 