@import "bootstrap-sprockets";
@import "bootstrap";

//= require bootstrap-sprockets

body
{
  background-image: asset-url('box-1472804_1280.png')
}

.center{
  text-align: center;
  color: black;
  font-weight: bold;
}

.jumbotron{
  background-image: asset-url('tools-498202_1920.jpg');
  color: white;
  text-align: center;
  file-align: center;
  background-size: cover;
  height: 550px;
}

.task-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.task-title {
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
}

.task-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer{
  padding-top: 10px;
  border-top: 2px solid #eaeaea;
  background-color: #F0FFF0;
  color: #777;
}

.img-thumbnail{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.btn-success{
  float: right;
}

.navbar{
  background-color: #F0FFF0;
  height: 60px;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: black;
    font-weight: bold;
}

#logo:hover {
    color: green;
    text-decoration: none;
}
