<h3 style="background-color: #F5F5DC"><b>!  <%= @category.name %></b>
</h3>

<pre style="font-size:20px;">
 <%= link_to 'Edit category',edit_category_path%>  <%= link_to 'Go-home',categories_path%>  <%= link_to 'Delete category', @category, :confirm => 'Are you sure ?', :method => :delete %>
</pre>
