<center>
      <h1 style="background-color: powderblue">
        TaskRabbit
      </h1> 
</center> 

<center>
    <h4 style="background-color: #FFE4E1">
      Help around the home, at your fingertips.....
    </h4>
</center>